body {
  margin-top: 5rem;
  background-color: rgb(15, 17, 16);
  display: flex;
  align-items: center;
  flex-direction: column;
}

a {
  padding: 1rem;
  text-align: center;
  color: rgb(34, 38, 26);
  text-shadow: 1px 0 rgb(90, 81, 30);
  text-decoration: none;
}